.login {
  &__error-text {
    font-family: Lato;
    font-size: 13px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #e24c4b !important;
  }

  &__hide {
    display: none;
  }
}
