.privilege {
  &__main-body {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: #fcfcfc;
    padding-top: 30px;
    padding-left: 20px;
  }

  &__role-title {
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #388E3C;
    margin-bottom: 30px;
  }

  &__checkbox-div {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #181f27;
  }

  &__label {
    margin-left: 0.5rem;
  }

  &__role-div {
    margin-bottom: 40px;
  }
}
